! Use a nice truetype font and size by default... 
xterm*Title: xtermGOD
xterm*termName: xterm-256colors
xterm*BorderWidth: 15
xterm*faceName: Iosevka Nerd Font:pixelsize=12:antialias=true:autohint=true
!xterm*faceSize: 12
! Size
xterm*geometry: 80x24

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*cursorBlink: true

! DOS-box colours...
xterm*foreground: #f8f8f2
xterm*background: #282a36
xterm*cursorColor: #f8f8f2

xterm*color0: #282a36
xterm*color1: #ff5555
xterm*color2: #50fa7b
xterm*color3: #f1fa8c
xterm*color4: #bd93f9
xterm*color5: #ff79c6
xterm*color6: #8be9fd
xterm*color7: #f8f8f2

xterm*color8: #282a36
xterm*color9: #ff5555
xterm*color10: #50fa7b 
xterm*color11: #f1fa8c 
xterm*color12: #bd93f9
xterm*color13: #ff79c6  
xterm*color14: #8be9fd
xterm*color15: #f8f8f2 

! right hand side scrollbar...
xterm*rightScrollBar: false
xterm*ScrollBar: false

XTerm.vt100.locale: true

! History
XTerm*saveLines: 100000

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: true

Term*vt100.translations: #override \n\
 Shift <Key>Home: scroll-back(450) \n\
 Shift <Key>End: scroll-forw(450)

! copy & paste like the normal terminals
*vt100.translations: #override \n\
Shift Ctrl <Key>C: copy-selection(CLIPBOARD) \n\
Shift Ctrl <Key>V: insert-selection(CLIPBOARD)
Ctrl <Key>minus: smaller-vt-font() \n\
Ctrl <Key>plus: larger-vt-font()

